{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('List of tags') }}{% endblock %}

{% block content %}
    <header><h2>{{ _('List of tags') }}</h2></header>

    <h3 id="entry_count">
        {{ _('Tag search') }}[{{ _('Hits') }}&nbsp;{{ paging.count }}{{ _(' results') }}]
        {{ input(req, 'limit', 'select', {'options': tag_limit_list, 'default': tag_default_limit}) }}
        {{ input(req, 'page', 'select', {'options': page_list, 'default': 0}) }}
    </h3>
    <p>{{ _('I can search by tag name') }}</p>
    <div id="entry_search">
        <form method="GET" id="sys-search-form">
            <input type="hidden" name="mode" value="Tags"/>
            <input type="hidden" name="process" value="index"/>
            {{ input(req, 'limit', 'hidden', {'default': tag_default_limit}) }}
            {{ input(req, 'page', 'hidden', {'default': 0}) }}
            {{ input(req, 'order', 'hidden', {'default': 'count_desc'}) }}
            {{ input(req, 'name', 'text', {'placeholder': _('Tag name')}) }}
            <input type="submit" value="{{ _('Search') }}"/>
        </form>
    </div>
    <script src="/assets/admin/js/search_form.js" type="text/javascript" charset="utf-8"></script>

    {% include('admin/common/paging.twig') %}

    <form method="POST" id="sys-list-form">
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" onclick="common.fullCheck(this);"/></th>
                <th><a href="javascript:void(0);" onclick="orderChange('name_asc'); return false;">{{ _('Tag name') }}</a></th>
                <th><a href="javascript:void(0);" onclick="orderChange('count_desc'); return false;">{{ _('Entry count') }}</a></th>
                <th>{{ _('Edit') }}</th>
                <th>{{ _('Delete') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td class="center ss_cell"><input type="checkbox" name="id[]" value="{{ tag.id }}"/></td>
                    <td><a href="{{ blogUrl(req, blog.id) }}/?tag={{ tag.name }}" target="_blank">{{ tag.name }}</a></td>
                    <td>{{ tag.count }}</td>
                    <td class="center s_cell"><a href="{{ url(req, 'Tags', 'edit', {id: tag.id}) }}">{{ _('Edit') }}</a></td>
                    <td class="center s_cell"><a href="{{ url(req, 'Tags', 'delete', {id: tag.id, sig: sig}) }}" onclick="return confirm('{{ _('Are you sure you want to delete?') }}');">{{ _('Delete') }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <input type="hidden" name="mode" value="tags"/>
        <input type="hidden" name="process" value="delete"/>
        <input type="hidden" name="sig" value="{{ sig }}"/>
        <input type="button" id="sys-delete-button" value="{{ _('Remove what you have selected') }}" onclick="if(confirm('{{ _('Are you sure you want to delete?') }}')) $('#sys-list-form').submit();" disabled="disabled"/>
    </form>

    {% include('admin/common/paging.twig') %}

    <script>
        $(function () {
            // 削除用のチェックボックスがチェックされている時だけ削除ボタンを有効化する
            $('input[type=checkbox][name="id[]"]').on('change', function () {
                $('#sys-delete-button').prop('disabled', !$('input[type=checkbox][name="id[]"]:checked').length);
            });
        });
    </script>

{% endblock %}