<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>{{ block('title') }}{% if blog.id %} - {{ blog.id }}{% endif %}</title>
    <link rel="icon" href="https://static.fc2.com/share/image/favicon.ico">
    <link rel="stylesheet" href="/assets/css/sp/user_layout_default.css" type="text/css" media="all">

    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/common_design.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
</head>
<body>

<div id="wrapper_all">
    <div id="wrapper">

        <header id="global_header">
            <div><!--span id="left_menu_btn"><i class="leftmenu"></i></span--></div>
            {% if isLogin %}
                <div><!--span id="right_menu_btn"><i class="rightmenu"></i></span--></div>
            {% endif %}
            <!--h1>{{ blog_id }}</h1-->
        </header>

        <div id="contents">
            {{ block('content') }}
        </div>

        <footer id="site_footer">
            <div id="switch_lang" class="sh_langselect">
                <select id="sys-language-setting" onchange="location.href=common.fwURL('common', 'lang', {lang: $(this).val()});">
                    <option value="ja" {% if lang=="ja" %}selected="selected"{% endif %}>日本語</option>
                    <option value="en" {% if lang=="en" %}selected="selected"{% endif %}>English</option>
                </select>
            </div>
        </footer>

    </div><!--/wrapper-->
</div><!--#wrapper_all-->
</body>
</html>
