<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow, noarchive"/>
    <title>{{ block('title') }}{% if blog.id %} - {{ blog.id }}{% endif %}</title>
    <link rel="icon" href="https://static.fc2.com/share/image/favicon.ico">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/admin-fc2.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/admin-form.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/admin_style.css" type="text/css" media="all">

    {% if block('head_include_css') is defined %}
        {{ block('head_include_css') }}
    {% endif %}

    <script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/jquery-ui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/jquery/jquery-ui/1.9.2/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
    <script type="text/javascript" src="/js/common_design.js"></script>

    <script type="text/javascript" src="/js/common.js"></script>
    <script>
        // フレームワーク用のjsの設定
        common = Object.assign(common, {{ js_common|json_encode()|raw }});
    </script>

    {% if block('head_include_js') is defined %}
        {{ block('head_include_js') }}
    {% endif %}

</head>
<body>

<header class="clear">
    <div>
        {% if isLogin %}
            <span>{{ nick_name }}</span>
        {% endif %}

        {% if isLogin %}
            <div id="blog_id">
                {{ _('Blog name') }}：
                <select id="sys-blog-change">
                    {% for key, blog_name in blog_list %}
                        <option value="{{ key }}" {% if blog.id == key %}selected="selected"{% endif %}>{{ blog_name }}</option>
                    {% endfor %}
                    <option disabled="disabled">--------------</option>
                    <option value="">{{ _('Create a new blog') }}</option>
                </select>
                <script>
                    $(function () {
                        $('#sys-blog-change').change(function () {
                            let value = $('#sys-blog-change').val();
                            if (value == '') { // TODO ふさわしい判定式に
                                location.href = "{{ url(req, 'Blogs', 'create' ) }}";
                            } else {
                                location.href = common.fwURL('blogs', 'choice', {blog_id: value});
                            }
                        });
                    });
                </script>
            </div>
        {% endif %}
        <div id="switch_lang">
            <select id="sys-language-setting" onchange="location.href=common.fwURL('common', 'lang', {lang: $(this).val()});">
                <option value="ja" {% if lang == 'ja' %}selected="selected"{% endif %}>日本語</option>
                <option value="en" {% if lang == 'en' %}selected="selected"{% endif %}>English</option>
            </select>
        </div>
    </div>
</header>

<article>
    <nav id="left-nav">
        {% if isLogin %}
            {% if is_selected_blog %}
                <div class="menu">
                    <h3 class="home">{{ _('Home') }}</h3>
                    <ul>
                        <li><a href="{{ url(req, 'Common', 'notice') }}">{{ _('Notice') }}</a></li>
                        <li><a href="{{ preview_active_blog_url }}" target="_blank">{{ _('Checking the blog') }}</a></li>
                        <li><a href="{{ url(req, 'Entries', 'create') }}">{{ _('New article') }}</a></li>
                        <li><a href="{{ url(req, 'Entries', 'index') }}">{{ _('List of articles') }}</a></li>
                        <li><a href="{{ url(req, 'Comments', 'index') }}">{{ _('List of comments') }}</a></li>
                        <li><a href="{{ url(req, 'Files', 'upload') }}">{{ _('Upload file') }}</a></li>
                    </ul>
                </div>
                <div class="menu">
                    <h3 class="setting">{{ _('Setting') }}</h3>
                    <ul>
                        <li><a href="{{ url(req, 'BlogTemplates', 'index') }}">{{ _('Template management') }}</a></li>
                        <li><a href="{{ url(req, 'blog_plugins', 'index') }}">{{ _('Plugin management') }}</a></li>
                        <li><a href="{{ url(req, 'Categories', 'create') }}">{{ _('Category management') }}</a></li>
                        <li><a href="{{ url(req, 'Tags', 'index') }}">{{ _('List of tags') }}</a></li>
                        <li><a href="{{ url(req, 'Blogs', 'edit') }}">{{ _('Blog setting') }}</a></li>
                    </ul>
                </div>
            {% endif %}

            <div class="menu">
                <h3 class="account">{{ _('User Menu') }}</h3>
                <ul>
                    <li><a href="{{ url(req, 'Blogs', 'index') }}">{{ _('List of blogs') }}</a></li>
                    <li><a href="{{ url(req, 'Users', 'edit') }}">{{ _('User setting') }}</a></li>
                    <li><a href="{{ url(req, 'Users', 'logout') }}">{{ _('Logout') }}</a></li>
                </ul>
            </div>

            {% if debug %}
                <div class="menu">
                    <h3 style="background-color:#999;background-position: 2px -660px;">デバッグ用</h3>
                    <ul>
                        <li><a href="{{ url(req, 'Users', 'index') }}">ユーザー一覧</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}

        {% if not isLogin %}
            <div class="menu">
                <h3 style="background-color:#999;background-position: 2px -660px;">{{ _('User Menu') }}</h3>
                <ul>
                    {% if is_register_able %}
                        <li><a href="{{ url(req, 'Users', 'register') }}">{{ _('User registration') }}</a></li>
                    {% endif %}
                    <li><a href="{{ url(req, 'Users', 'login') }}">{{ _('Login') }}</a></li>
                </ul>
            </div>
        {% endif %}
    </nav>

    <article id="main-contents">
        {% include 'admin/flagments/flash_message.twig' %}
        {{ block('content') }}
    </article>

</article>
</body>
</html>
