{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('I want to create a plugin') }}{% endblock %}

{% block content %}
    <header><h2>{{ _('I want to create a plugin') }}</h2></header>
    <p class="header_btn">
        <a class="admin_common_btn create_btn" href="{{ url(req, 'BlogPlugin', 'index') }}">{{ _('Plugin management') }}</a>
    </p>

    <form method="post" id="sys-blog-plugin-form" class="admin-form">

        {{ input(req, 'blog_plugin[device_type]', 'hidden') }}
        {{ input(req, 'blog_plugin[category]', 'hidden') }}
        {{ input(req, 'sig', 'hidden', {'value': sig}) }}
        {% if errors.blog_plugin.device_type %}<p class="error">{{ errors.blog_plugin.device_type }}</p>{% endif %}
        {% if errors.blog_plugin.category %}<p class="error">{{ errors.blog_plugin.category }}</p>{% endif %}

        <table>
            <tbody>
            <tr>
                <th>{{ _('Plugin name') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[title]', 'text') }}
                    {% if errors.blog_plugin.title %}<p class="error">{{ errors.blog_plugin.title }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Character color setting of title statement') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[title_align]', 'select', {'options': blog_plugin_attribute_align}) }}
                    {% if errors.blog_plugin.title_align %}<p class="error">{{ errors.blog_plugin.title_align }}</p>{% endif %}
                    {{ input(req, 'blog_plugin[title_color]', 'radio', {'options': blog_plugin_attribute_color}) }}
                    {% if errors.blog_plugin.title_color %}<p class="error">{{ errors.blog_plugin.title_color }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Character color setting of content statement') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[contents_align]', 'select', {'options': blog_plugin_attribute_align}) }}
                    {% if errors.blog_plugin.contents_align %}<p class="error">{{ errors.blog_plugin.contents_align }}</p>{% endif %}
                    {{ input(req, 'blog_plugin[contents_color]', 'radio', {'options': blog_plugin_attribute_color}) }}
                    {% if errors.blog_plugin.contents_color %}<p class="error">{{ errors.blog_plugin.contents_color }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>HTML</th>
                <td>
                    {{ input(req, 'blog_plugin[contents]', 'textarea') }}
                    {% if errors.blog_plugin.contents %}<p class="error">{{ errors.blog_plugin.contents }}</p>{% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <p class="form-button center">
            <input type="submit" value="{{ _('Add') }}" id="sys-blog-plugin-form-submit"/>
            <input type="button" value="{{ _('Preview') }}" id="sys-blog-plugin-form-preview"/>
        </p>

    </form>

    <script>
        $(function () {
            // form内でEnterしてもsubmitさせない
            common.formEnterNonSubmit('sys-blog-plugin-form');

            // プレビュー処理を行う
            $('#sys-blog-plugin-form-preview').click(function () {
                var action = '{{ userUrl(req, {blog_id: blog.id, device_key: 1}, false, true) }}';
                $('#sys-blog-plugin-form').prop('action', action);
                $('#sys-blog-plugin-form').prop('target', '_preview');
                $('#sys-blog-plugin-form').submit();
            });

            // submit処理を行う
            $('#sys-blog-plugin-form-submit').click(function () {
                var action = '{{ url(req, 'BlogPlugins', 'create') }}';
                $('#sys-blog-plugin-form').prop('action', action);
                $('#sys-blog-plugin-form').prop('target', '_self');
            });
        });
    </script>

    {% include('admin/blog_plugins/form_js.twig') %}
{% endblock %}
