{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('I want to edit the plugin') }}{% endblock %}

{% block content %}
    <header><h2>{{ _('I want to edit the plugin') }}</h2></header>

    <form method="POST" id="sys-blog-plugin-form" class="admin-form">

        <input type="hidden" name="id" value="{{ req.get('id') }}"/>
        {{ input(req, 'blog_plugin[device_type]', 'hidden') }}
        {{ input(req, 'blog_plugin[category]', 'hidden') }}
        <input type="hidden" name="sig" value="{{ sig }}"/>
        {% if errors.blog_plugin.device_type %}<p class="error">{{ errors.blog_plugin.device_type }}</p>{% endif %}
        {% if errors.blog_plugin.category %}<p class="error">{{ errors.blog_plugin.category }}</p>{% endif %}

        <table>
            <tr>
                <th>{{ _('Plugin name') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[title]', 'text') }}
                    {% if errors.blog_plugin.title %}<p class="error">{{ errors.blog_plugin.title }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Character color setting of title statement') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[title_align]', 'select', {'options': blog_plugin_attribute_align}) }}
                    {% if errors.blog_plugin.title_align %}<p class="error">{{ errors.blog_plugin.title_align }}</p>{% endif %}
                    {{ input(req, 'blog_plugin[title_color]', 'radio', {'options': blog_plugin_attribute_color}) }}
                    {% if errors.blog_plugin.title_color %}<p class="error">{{ errors.blog_plugin.title_color }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Character color setting of content statement') }}</th>
                <td>
                    {{ input(req, 'blog_plugin[contents_align]', 'select', {'options': blog_plugin_attribute_align}) }}
                    {% if errors.blog_plugin.contents_align %}<p class="error">{{ errors.blog_plugin.contents_align }}</p>{% endif %}
                    {{ input(req, 'blog_plugin[contents_color]', 'radio', {'options': blog_plugin_attribute_color}) }}
                    {% if errors.blog_plugin.contents_color %}<p class="error">{{ errors.blog_plugin.contents_color }}</p>{% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ _('Remodeling of the plug-in') }}</th>
                <td>
                    <div><a href="javascript:void(0);" onclick="$(this).parent().hide().next().show(); return false;">{{ _('I will do the editing of [HTML]. (For advanced users)') }}</a></div>
                    <div style="display: none;">
                        {{ input(req, 'blog_plugin[contents]', 'textarea') }}
                        {% if errors.blog_plugin.contents %}<p class="error">{{ errors.blog_plugin.contents }}</p>{% endif %}
                    </div>
                </td>
            </tr>
        </table>

        <p class="form-button center">
            <input type="submit" value="{{ _('Update') }}" id="sys-blog-plugin-form-submit"/>
            <input type="button" value="{{ _('Preview') }}" id="sys-blog-plugin-form-preview"/>
        </p>

    </form>

    <script>
        $(function () {
            // form内でEnterしてもsubmitさせない
            common.formEnterNonSubmit('sys-blog-plugin-form');

            // プレビュー処理を行う
            $('#sys-blog-plugin-form-preview').click(function () {
                var action = '{{ userUrl(req, {blog_id: blog_id, device_key: 1}, false, true) }}';
                $('#sys-blog-plugin-form').prop('action', action);
                $('#sys-blog-plugin-form').prop('target', '_preview');
                $('#sys-blog-plugin-form').submit();
            });

            // submit処理を行う
            $('#sys-blog-plugin-form-submit').click(function () {
                var action = '{{ url(req, 'BlogPlugins', 'edit') }}';
                $('#sys-blog-plugin-form').prop('action', action);
                $('#sys-blog-plugin-form').prop('target', '_self');
            });
        });
    </script>

    {% include('admin/blog_templates/form_js.twig') %}

{% endblock %}
