{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Plugin search') }}{% endblock %}

{% block content %}

    <header><h1 class="sh_heading_main_b">{{ _('Plugin search') }}</h1></header>

    <h2><span class="h2_inner">{{ req_device_name }}</span></h2>

    <ul class="link_list">
        {% for plugin in plugins %}
            <li class="link_list_item common_next_link">
                <h4>{{ t(plugin.title, 20) }}</h4>
                <p>{{ t(plugin.body, 20) }}</p>
                <div class="parallel_btn">
                    <a class="btn_contents touch" href="{{ url(req, 'blog_plugins', 'download', {id: plugin.id, category: plugin_category_type_id, sig: sig}) }}">{{ _('Add') }}</a>
                    <a class="btn_contents touch" href="{{ url(req, 'Entries', 'preview', {blog_id: blog.id, plugin_id: plugin.id, category: plugin_category_type_id, device_key: 1}, false, true) }}" target="_blank">{{ _('Preview') }}</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include('admin/common/paging_sp.twig') %}

{% endblock %}