{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('Plugin search') }}{% endblock %}

{% block content %}
    <header><h2>{{ _('Plugin search') }}</h2></header>

    <h3>{{ req_device_name }}</h3>
    <p class="header_btn">
        <a class="admin_common_btn create_btn" href="{{ url(req, 'blog_plugins', 'index') }}">{{ _('Plugin management') }}</a>
    </p>

    {% include('admin/common/paging.twig') %}

    <table>
        <thead>
        <tr>
            <th>{{ _('Plugin name') }}</th>
            <th>{{ _('Description') }}</th>
            <th>{{ _('Download') }}</th>
            <th>{{ _('Preview') }}</th>
            {% if not is_official %}
                <th>{{ _('Delete') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for plugin in plugins %}
            <tr>
                <td>{{ t(plugin.title, 20) }}</td>
                <td>{{ plugin.body|nl2br }}</td>
                <td class="center">
                    <form action="{{ url(req, 'blog_plugins', 'download') }}" method="post">
                        <input type="hidden" name="id" value="{{ plugin.id }}">
                        <input type="hidden" name="category" value="{{ plugin_category_type_id }}">
                        <input type="hidden" name="sig" value="{{ sig }}">
                        <button>{{ _('Download') }}</button>
                    </form>
                </td>
                <td class="center">
                    <form action="{{ url(req, 'Entries', 'preview', {}, false, true, false) }}" method="post" target="_blank">
                        <input type="hidden" name="blog_id" value="{{ blog.id }}">
                        <input type="hidden" name="plugin_id" value="{{ plugin.id }}">
                        <input type="hidden" name="category" value="{{ plugin_category_type_id }}">
                        <input type="hidden" name="device_key" value="1">
                        <button>{{ _('Preview') }}</button>
                    </form>
                </td>
                {% if not is_official %}
                    <td class="center">
                        {% if user_id == plugin.user_id %}
                            <a href="{{ url(req, 'blog_plugins', 'plugin_delete', {id: plugin.id, sig: sig}) }}" onclick="return confirm('{{ _('Are you sure you want to delete?') }}');">{{ _('Delete') }}</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include('admin/common/paging.twig') %}
{% endblock %}
