{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Plugin search') }}{% endblock %}

{% block content %}

    <header><h1 class="sh_heading_main_b">{{ _('Plugin search') }}</h1></header>

    <h2><span class="h2_inner">{{ req_device_name }}</span></h2>

    <ul class="link_list">
        {% for plugin in plugins %}
            <li class="link_list_item common_next_link">
                <h4>{{ t(plugin.title, 20) }}</h4>
                <p>{{ t(plugin.body, 20) }}</p>
                <div class="parallel_btn">
                    <form action="{{ url(req, 'blog_plugins', 'download') }}" method="post" style="display: inline">
                        <input type="hidden" name="id" value="{{ plugin.id }}">
                        <input type="hidden" name="category" value="{{ plugin_category_type_id }}">
                        <input type="hidden" name="sig" value="{{ sig }}">
                        <button class="btn_contents touch">{{ _('Add') }}</button>
                    </form>
                    <form action="{{ url(req, 'Entries', 'preview', {}, false, true, false) }}" method="post" target="_blank" style="display: inline">
                        <input type="hidden" name="blog_id" value="{{ blog.id }}">
                        <input type="hidden" name="plugin_id" value="{{ plugin.id }}">
                        <input type="hidden" name="category" value="{{ plugin_category_type_id }}">
                        <input type="hidden" name="device_key" value="1">
                        <button class="btn_contents touch">{{ _('Preview') }}</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% include('admin/common/paging_sp.twig') %}

{% endblock %}