{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Other Settings') }}{% endblock %}

{% block content %}
    <header><h1 class="in_menu sh_heading_main_b"><span class="h1_title">{{ _('Other Settings') }}</span></h1></header>

    {% include('admin/blog_settings/tab_sp.twig') %}

    <h2 id="blog_settings"><span class="h2_inner">{{ _('Setting') }}</span></h2>
    <form action="etc_edit" method="post" id="sys-blog-template-form" class="admin-form">
        <div class="form_area">
            <div class="form_contents">
                <h4>{{ _('Initial display page') }}</h4>
                {{ input(req, 'blog_setting[start_page]', 'select', {'options': blog_settings_start_page_list}) }}
                {% if errors.blog_setting.start_page %}<span class="error">{{ errors.blog_setting.start_page }}</span>{% endif %}
            </div>
            <div class="form_contents">
                <div class="btn">
                    <button type="submit" class="btn_contents positive touch"><i class="save_icon btn_icon"></i>{{ _('Update') }}</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="sig" value="{{ sig }}">
    </form>
{% endblock %}
