{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Template management') }}{% endblock %}

{% block content %}
    <header><h1 class="sh_heading_main_b">{{ _('Template management') }}</h1></header>

    <div class="form_area">
        <div class="form_contents">
            <select onchange="location.href=$(this).val();">
                {% for key, device_en in devices %}
                    <option value="{{ url(req, 'BlogTemplates', 'index', {device_type:key}) }}" {% if req.get('device_type') == key %}selected="selected"{% endif %}>{{ _(device_en) }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% for device_type, blog_templates in device_blog_templates %}{# 機種毎のループ #}

        <div class="btn_area sp_no_template">
            <ul class="btn_area_inner">
                <li>
                    <button class="btn_contents touch" onclick="location.href='{{ url(req, 'BlogTemplates', 'fc2_index', {device_type: device_type}) }}'"><i class="btn_icon"></i>{{ _('Template Search') }}</button>
                </li>
            </ul>
        </div>
        <h2><span class="h2_inner">{{ _(attribute(devices, device_type)) }}</span></h2>
        <ul class="list_radio">
            {% for blog_template in blog_templates %}
                <li class="list_radio_item">
                    <input name="blog_template[id]" type="radio" class="list_radio_input" value="{{ blog_template.id }}"
                           id="sys-device-{{ device_type }}-{{ blog_template.id }}" {% if inArray(blog_template.id, template_ids) %}disabled="disabled" {% endif %}>
                    <label for="sys-device-{{ device_type }}-{{ blog_template.id }}">
                        {{ t(blog_template.title, 20) }}
                        {% if inArray(blog_template.id, template_ids) %}
                            <span class="contents_status"><i class="green_check_icon btn_icon"></i><span class="check_icon_text">{{ _('Applying') }}</span></span>
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>

    {% endfor %}

    <div class="btn_area sp_no_template">
        <ul class="btn_area_inner">
            <li>
                <button id="sys_template_delete" class="btn_contents touch"><i class="delete_icon btn_icon"></i>{{ _('Delete') }}</button>
            </li>
            <li>
                <button id="sys_template_adapt" class="btn_contents positive touch"><i class="check_icon btn_icon"></i>{{ _('Apply') }}</button>
            </li>
        </ul>
    </div>

    <script>
        $(function () {
            // テンプレートの削除
            $('#sys_template_delete').on('click', function () {
                var id = $('input[name="blog_template[id]"]:checked').val()
                if (!id) {
                    alert('{{ _('Please select the template you want to delete') }}');
                    return;
                }
                if (confirm('{{ _('Are you sure you want to delete?') }}')) {
                    {# TODO 削除処理のPOST化 #}
                    location.href = common.fwURL('blog_templates', 'delete', {id: id, sig: "{{ sig }}"});
                }
            });
            // テンプレートの適応
            $('#sys_template_adapt').on('click', function () {
                var id = $('input[name="blog_template[id]"]:checked').val()
                if (!id) {
                    alert('{{ _('Please select the template to apply') }}');
                    return;
                }
                if (confirm('{{ _('Are you sure you want to apply this template?') }}')) {
                    location.href = common.fwURL('blog_templates', 'apply', {id: id, sig: '{{ sig }}'});
                }
            });
        });
    </script>
{% endblock %}
