{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('New registration of the blog') }}{% endblock %}

{% block content %}
    <header><h1 class="in_menu sh_heading_main_b"><span class="h1_title">{{ _('New registration of the blog') }}</span></h1></header>

    <form action="create" method="post" class="admin-form">
        <div class="form_area">
            <div class="form_contents">
                <h4>{{ _('Blog ID') }}</h4>
                <div class="common_input_text">{{ input(req, 'blog[id]', 'text') }}</div>
                {% if errors.blog.id %}<span class="error">{{ errors.blog.id }}</span>{% endif %}
            </div>
            <div class="form_contents">
                <h4>{{ _('Blog name') }}</h4>
                <div class="common_input_text">{{ input(req, 'blog[name]', 'text') }}</div>
                {% if errors.blog.name %}<span class="error">{{ errors.blog.name }}</span>{% endif %}
            </div>
            <div class="form_contents">
                <h4>{{ _('Nickname') }}</h4>
                <div class="common_input_text">{{ input(req, 'blog[nickname]', 'text') }}</div>
                {% if errors.blog.nickname %}<span class="error">{{ errors.blog.nickname }}</span>{% endif %}
            </div>
            <div class="form_contents">
                <div class="btn">
                    <button type="submit" class="btn_contents positive touch"><i class="positive_add_icon btn_icon"></i>{{ _('Register') }}</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="sig" value="{{ sig }}">
    </form>
{% endblock %}
