{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Blog Delete') }}{% endblock %}

{% block content %}
    <header><h1 class="in_menu sh_heading_main_b"><span class="h1_title">{{ _('Blog Delete') }}</span></h1></header>

    {% include('admin/blog_settings/tab_sp.twig') %}

    <h2 id="blog_settings"><span class="h2_inner">{{ _('Delete confirmation') }}</span></h2>
    <form method="POST" id="sys-blogs-form" class="admin-form">
        <div class="form_area">
            <div class="form_contents">{{ _('If you want to delete the blog, please tap the "Delete" button Check the "Delete confirmation".') }}</div>
            <div class="form_contents">
                <div class="checkbox_btn touch">
                    <div class="checkbox_btn_inner">
                        <input type="checkbox" name="blog[delete]" id="sys-blog-delete" class="checkbox_btn_input" value="1"/>
                        <span class="checkbox_bg"></span>
                    </div>
                    <label for="sys-blog-delete" class="checkbox_btn_label">{{ _('Delete confirmation') }}</label>
                </div>
            </div>
        </div>
        <div class="form_area">
            <div class="form_contents">
                <div clas="btn">
                    <button type="button" class="btn_contents touch" id="sys-withdrawal">{{ _('Delete') }}<i class="delete_icon btn_icon"></i></button>
                </div>
            </div>
        </div>
        <input type="hidden" name="sig" value="{{ sig }}">
    </form>

    <script>
        $(function () {
            $('#sys-withdrawal').on('click', function () {
                if ($('input[name="blog[delete]"]:checked').length != 1) {
                    alert('{{ _('Please check the box "Delete confirmation"') }}');
                    return;
                }
                if (confirm('{{ _('Can not be undone if you remove, but Are you sure you want to delete really?') }}')) {
                    $('#sys-blogs-form').submit();
                }
            });
        });
    </script>
{% endblock %}
