{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Write a new entry') }}{% endblock %}

{% block content %}
    {% block head_include_css %}
        <link rel="stylesheet" href="/css/sp/category_sp.css" type="text/css" media="all">
        <link rel="stylesheet" href="/css/sp/entry_sp.css" type="text/css">
    {% endblock %}
    {% block head_include_js %}
        <!-- timepicker-addon -->
        <script type="text/javascript" src="/js/jquery/jQuery-Timepicker-Addon/src/jquery-ui-timepicker-addon.js"></script>
        {% if lang != 'en' %}
            <script type="text/javascript" src="/js/jquery/jQuery-Timepicker-Addon/src/i18n/jquery-ui-timepicker-{{ lang }}.js"></script>
        {% endif %}
        <!-- /timepicker-addon -->

        <script type="text/javascript" src="/js/js.cookie.js"></script>
        <script type="text/javascript" src="/js/admin/entry_editor.js"></script>
    {% endblock %}

    <header><h1 class="sh_heading_main_b editor_title">{{ _('Write a new entry') }}</h1></header>
    <form method="POST" id="sys-entry-form" class="admin-form">
        <input type="hidden" name="sig" value="{{ sig }}"/>
        {{ include('admin/entries/form_sp.twig') }}
        {{ include('admin/entries/editor_js_sp.twig') }}
    </form>
{% endblock %}
