{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('Edit this entry.') }}{% endblock %}
{# @var req \Fc2blog\Web\Request #}

{% block content %}
    <header><h1 class="sh_heading_main_b editor_title">{{ _('Edit this entry.') }}</h1></header>
    <form action="edit" method="post" id="sys-entry-form" class="admin-form">
        <input type="hidden" name="id" value="{{ entry.id }}"/>
        <input type="hidden" name="sig" value="{{ sig }}"/>
        {% include('admin/entries/form_sp.twig') %}
    </form>

    <h2><span class="h2_inner">{{ _('Delete entry') }}</span></h2>
    <div class="btn_area">
        <ul class="btn_area_inner">
            <li>
                <a href="#" onclick="delete_single_entry({{ entry.id }}); return false;" class="btn_contents touch">
                    <i class="delete_icon btn_icon"></i>{{ _('Delete') }}
                </a>
            </li>
        </ul>
    </div>

    <form action="edit" method="post" id="entry-delete-form">
        <input type="hidden" name="mode" value="entries"/>
        <input type="hidden" name="process" value="delete"/>
        <input type="hidden" name="id" value=""/>
        <input type="hidden" name="sig" value="{{ sig }}"/>
    </form>
    <script>
        function delete_single_entry(entry_id) {
            if (!confirm('{{ _('Are you sure you want to delete?') }}')) {
                return;
            }
            $('#entry-delete-form input[name="id"]').val(entry_id);
            $('#entry-delete-form').submit();
            $('#entry-delete-form input[name="id"]').val("");
        }
    </script>

{% endblock %}
