{% extends 'admin/layouts/default_nomenu.twig' %}
{% block title %}{{ _('Installation complete') }}{% endblock %}

{% block content %}
    <header><h2>{{ _('Installation complete') }}</h2></header>

    {{ _('The installation was completed') }}<br/>
    {{ _('Please log from the following') }}<br/>
    <a href="{{ url(req, 'Session', 'login') }}">{{ _('Login') }}</a><br/>
    {{ _('If you want to re-enable this installer, please delete `installed.lock` file in temp dir.') }}
{% endblock %}
