{% extends 'user/layouts/default_sp.twig' %}
{% block title %}{{ _('Password authentication') }}{% endblock %}

{% block content %}
    <section id="commentform">
        <header><h1 class="sh_heading_main_b">{{ _('Password authentication') }}</h1></header>

        <form method="post" class="user-form">
            <fieldset class="vertical-form">

                <div class="private_about">
                    {{ _('Enter the password manager has set is required to view') }}
                </div>

                <dl class="form">
                    <dt>{{ _('View password') }} </dt>
                    <dd>
                        <input type="password" name="blog[password]"/>
                        {% if errors.password %}
                            <p class="error">{{ errors.password }}</p>
                        {% endif %}
                    </dd>
                </dl>

                <div class="submit_btn">
                    <input class="common_btn" type="submit" value="{{ _('I see the blog') }}"/>
                </div>

            </fieldset>
        </form>
    </section>
{% endblock %}
