{% extends 'user/layouts/default.twig' %}
{% block title %}{{ _('Password authentication') }}{% endblock %}

{% block content %}
    <table class="private_lock">
        <tr>
            <td class="private_lock_left">
                <div class="private_lock_left_inner">
                    <h2 class="private_lock_title">{{ _('Password authentication') }}</h2>
                    <div class="private_about">
                        {{ _('Enter the password manager has set is required to view') }}
                    </div>
                </div>
            </td>
            <td class="private_lock_right">
                <form action="" method="post">
                    <input type="hidden" name="mode" value="entries">
                    <input type="hidden" name="process" value="blog_password">
                    <div class="private_lock_right_inner">
                        <div class="private_lock_pass_area">
                            <h3 class="private_lock_right_title">{{ _('View password') }}</h3>
                            <input type="password" name="blog[password]"/>
                            {% if errors.password %}
                                <p class="error">{{ errors.password }}</p>
                            {% endif %}
                            <div><input type="submit" value="{{ _('I see the blog') }}" class="private_lock_btn"/></div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
