{% extends 'user/layouts/default_sp.twig' %}
{% block title %}{{ _('I edit a comment') }}{% endblock %}

{% block content %}
    <section id="commentform">
        <header><h1 class="sh_heading_main_b">{{ _("I edit a comment") }}</h1></header>

        <form method="POST" id="sys-comment-form" class="user-form">

            <input type="hidden" name="mode" value="Entries"/>
            <input type="hidden" name="process" value="comment_edit"/>

            {{ input(req, 'comment[id]', 'hidden') }}

            <fieldset class="vertical-form">
                <dl class="form">
                    <dt>{{ _("Name") }}</dt>
                    <dd>
                        {{ input(req, 'comment[name]', 'text') }}
                        {% if errors.comment.name %}<p class="error">{{ errors.comment.name }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>{{ _("Title") }}</dt>
                    <dd>
                        {{ input(req, 'comment[title]', 'text') }}
                        {% if errors.comment.title %}<p class="error">{{ errors.comment.title }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>{{ _("E-mail") }}</dt>
                    <dd>
                        {{ input(req, 'comment[mail]', 'text') }}
                        {% if errors.comment.mail %}<p class="error">{{ errors.comment.mail }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>URL</dt>
                    <dd>
                        {{ input(req, 'comment[url]', 'text') }}
                        {% if errors.comment.url %}<p class="error">{{ errors.comment.url }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>{{ _("Comment") }}</dt>
                    <dd>
                        {{ input(req, 'comment[body]', 'textarea') }}
                        {% if errors.comment.body %}<p class="error">{{ errors.comment.body }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>{{ _("Password") }}</dt>
                    <dd>
                        {{ input(req, 'comment[password]', 'password') }}
                        {% if errors.comment.password %}<p class="error">{{ errors.comment.password }}</p>{% endif %}
                    </dd>
                </dl>
                <dl>
                    <dt>{{ _("Secret") }}</dt>
                    <dd>
                        {{ input(req, 'comment[open_status]', 'select', {'options': open_status_user_list}) }}
                        {% if errors.comment.open_status %}<p class="error">{{ errors.comment.open_status }}</p>{% endif %}
                    </dd>
                </dl>
                <dl class="form">
                    <dt>{{ _("Authentication keyword") }}</dt>
                    <dd>
                        <img src="{{ url(req, 'common', 'captcha') }}"/>
                        <button type="button"
                                onclick="$(this).prev().attr('src', common.fwURL('common', 'captcha', {t : new Date().getTime()}));">
                            {{ _("Update authentication image") }}
                        </button>
                        <p>{{ _("Please enter the numbers written on the image") }}</p>
                        {{ input(req, 'token', 'captcha') }}
                        {% if errors.token %}<p class="error">{{ errors.token }}</p>{% endif %}
                    </dd>
                </dl>

                <div class="submit_btn">
                    <input class="common_btn" type="submit" value="{{ _("Update") }}"/>
                </div>

            </fieldset>
        </form>

    </section>
{% endblock %}
