{% extends 'admin/layouts/default_sp.twig' %}
{% block title %}{{ _('File upload') }}{% endblock %}

{% block content %}
    <header><h1 class="in_menu sh_heading_main_b"><span class="h1_title">{{ _('File upload') }}</span><span class="accordion_btn"><i class="search_icon btn_icon"></i></span></h1></header>
    <div id="entry_search" class="accordion_contents" style="display:none;">
        <form action="upload" method="get" id="sys-search-form">
            <input type="hidden" name="mode" value="Files"/>
            <input type="hidden" name="process" value="upload"/>
            {{ input(req, 'limit', 'hidden', {'default': page_limit_file }) }}
            {{ input(req, 'page', 'hidden', {'default': 0}) }}
            {{ input(req, 'order', 'hidden', {'default': 'created_at_desc'}) }}
            <dl class="input_search">
                <dt class="lineform_text_wrap common_input_text">{{ input(req, 'keyword', 'text') }}</dt>
                <dd class="lineform_btn_wrap">
                    <button type="submit" class="lineform_btn touch">{{ _('Search') }}</button>
                </dd>
            </dl>
        </form>
    </div>

    <form action="upload" method="post" id="sys-file-form" class="admin-form" enctype="multipart/form-data">
        <input type="hidden" name="MAX_FILE_SIZE" value="{{ file_max_size }}"/>
        <input type="hidden" name="sig" value="{{ sig }}"/>
        <div class="btn_area">
            <div class="up_file_btn">
                {{ input(req, 'file[name]', 'text', {'id': 'sys-file-name'}) }}
                {{ input(req, 'file[file]', 'file', {'style': 'opacity: 0; position: absolute; width: 120px;', 'onchange': "$('#sys-file-name').val($(this).val().split('\\\\').pop());"}) }}
                <button type="button" class="lineform_btn touch" onclick="$(this).prev().click();" style="width: 120px;">
                    {{ _('File selection') }}</button>
            </div>
            {% if errors.file.ext %}
                <p class="error">{{ errors.file.ext }}</p>
            {% endif %}
            {% if errors.file.file %}
                <p class="error">{{ errors.file.file }}</p>
            {% endif %}
            {% if errors.file.name %}
                <p class="error">{{ errors.file.name }}</p>
            {% endif %}
        </div>
        <div class="enter_btn_area">
            <button type="submit" class="enter_btn touch">{{ _('Upload') }}</button>
        </div>
    </form>

    {% if not req.get('file') %}
        <h2><span class="h2_inner">{{ _('File List') }}</span></h2>
        <div class="file_table">
            {% if files %}
                {% for file in files %}
                    <a href="{{ url(req, 'Files', 'edit', {id: file.id}) }}">
                        <div class="file_table_cell">
                            {% if inArray(file.ext, ['jpeg', 'jpg', 'png', 'gif']) %}
                                <img src="{{ file.path }}"/>
                            {% endif %}
                            <span class="img_name">{{ t(file.name, 30) }}</span>
                        </div><!--/file_table_cell-->
                    </a>
                {% endfor %}
            {% endif %}
            {% if not files %}
                {{ _('The target file does not exist') }}
            {% endif %}

        </div>

        {% include('admin/common/paging_sp.twig') %}

    {% endif %}
{% endblock %}
